/*-------------------------------------ПОДВЯЗАННЫЕ ШРИФТЫ--------------------------------------------*/

@font-face {
	font-family: 'Copyist';
	src: url('Copyist.svg#Copyist') format('svg'),
		url('Copyist.ttf') format('truetype'),
		url('Copyist.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'copyist-thin1';
	src: url('copyist-thin1.eot');
	src: url('copyist-thin1.eot?#iefix') format('embedded-opentype'),
		url('copyist-thin1.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Andantinoscript';
	src: url('fonts/Andantinoscript.svg#Andantinoscript') format('svg'),
		url('fonts/Andantinoscript.ttf') format('truetype'),
		url('fonts/Andantinoscript.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'andantino-script_[allfont.ru]';
	src: url('andantino-script_[allfont.ru].eot');
	src: url('andantino-script_[allfont.ru].eot?#iefix') format('embedded-opentype'),
		url('andantino-script_[allfont.ru].woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

/*----------------------------КОНЕЦ ПОДВЯЗАННЫЕ ШРИФТЫ --------------------------------------*/


/*------------------------------ОБНУЛЕНИЕ-----------------------------------------------------*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*----------------------------------------КОНЕЦ ОБНУЛЕНИЯ--------------------------------*/

.wrapper {
	background-color: #3E563E;
	max-width: 1200px;
	max-height: 9000px;
	width: 100vw;
	/*min-height: 100vh;*/
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5vh;
	position: relative;
	z-index: 8;
}


.header {
	max-width: 1200px;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	position: fixed;
	top: 0px;
	z-index: 9;
}


.header__container {
	max-width: 1200px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

/*-------------СОЗДАЕМ ВЫПАДАЮЩЕЕ МЕНЮ---------------------*/
.dropoutmenu {
	position: absolute;
	top: 15%;
	left: 8%;
	background-color: #3E563E;
	width: 84%;
	height: 70%;
	max-height: 70vh;
	border: 2px white solid;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 2.3s ease 0s;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.dropoutmenu__container__twinarrows {
	min-width: 1.5vw;
	max-width: 2vw;
	padding-left: 0.5vw;
	min-height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
}

.dropoutmenu__container__twinarrows_png,
.dropoutmenu__container__twinarrows_up,
.dropoutmenu__container__twinarrows_down {
	width: 100%;
	opacity: 0.5;
	visibility: hidden;
}

.dropoutmenu__container {
	width: 100%;
	height: 100%;
	max-height: 100%;
	z-index: 16;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dropoutmenu__list {
	width: 100%;
	diplay: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1vh;
	padding-top: 1vh;
	max-height: 100%;
	overflow: auto;
}

a.dropoutmenu__item {
	font-family: "Andantinoscript";
	font-size: calc(30px + (12 + 12 * 0.7) * ((100vw - 360px) / 1200));
	color: white;
	width: 100%;
}

li {
	text-align: center;
	padding: 1vh;
}

/*-------------конец созданеия выпадающего меню ---------------*/

.header__burgericon {
	width: 5vw;
	max-width: 89px;
	height: calc(4vw + 1vh);
	padding-top: 1vh;
	max-height: 79px;
	position: absolute;
	/*старые значения top: 46vh;
right: 1vw;*/
	bottom: 2.5vw;
	right: 50vw+2.5vw;
	z-index: 16;
}

@media (min-width: 2000px) {
	.header__burgericon {
		bottom: 1.3vw;
	}

}

/* - ЭТО ПОКА КОНСЕРВИРУЕМ НА ВРЕМЯ ПРОРАБОТКИ НОВОГО МЕХАНИЗМА МЕНЮ
body._pc .wrapper .header .header__container .header__burgericon:hover .dropoutmenu {
opacity: 1;
visibility: visible;
pointer-events: all;
}

body._pc .wrapper .header .header__container ._opened .dropoutmenu {
opacity: 0;
visibility: hidden;

}

*/
/*body .wrapper .header .header__container .active .dropoutmenu {
opacity: 1;
visibility: visible;
pointer-events: all;
position: relative;
left: 24vw;
bottom: 80vh;
overflow: auto;
}*/


.header__burgericon_jpg,
.header__smallframebottomimg {
	width: 100%;
	height: 100%;
	animation-name: glowing;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}

@keyframes glowing {

	0%,
	100% {
		filter: brightness(0) invert(1);
		/*opacity: 1;*/

	}

	1%,
	99% {
		filter: brightness(0) invert(1);
		/*opacity: 1;*/

	}

	2%,
	98% {
		filter: brightness(0) invert(1);
		/*opacity: 1;*/

	}


	5%,
	95% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 0.5px gold);
	}

	7%,
	93% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 1px gold);
		/*	opacity: 0.9;*/
	}


	10%,
	90% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 1.5px gold);
		/*opacity: 0.8;*/
	}

	12%,
	88% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 2px gold);
		/*	opacity: 0.9;*/
	}


	15%,
	85% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 2.5px gold);
		/*opacity: 0.7;*/
	}

	17%,
	83% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 3px gold);
		/*	opacity: 0.9;*/
	}


	20%,
	80% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 3.5px gold);
		/*opacity: 0.6;*/
	}

	23%,
	78% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 4px gold);
		/*	opacity: 0.9;*/
	}


	25%,
	75% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 4.5px gold);
		/*opacity: 0.5;*/
	}

	27%,
	73% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 5px gold);
		/*	opacity: 0.9;*/
	}


	30%,
	70% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 5.5px gold);
		/*opacity: 0.4;*/
	}

	33%,
	68% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 6px gold);
		/*	opacity: 0.9;*/
	}


	35%,
	65% {

		filter: brightness(0) invert(1) drop-shadow(0px 0px 6.5px gold);
		/*opacity: 0.3;*/
	}

	37%,
	63% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 7px gold);
		/*	opacity: 0.9;*/
	}


	40%,
	60% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 7.5px gold);
		/*opacity: 0.2;*/
	}

	43%,
	58% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 8px gold);
		/*	opacity: 0.9;*/
	}


	45%,
	55% {
		filter: brightness(0) invert(1) drop-shadow(0px 0px 8.5px gold);
		/*opacity: 0.1;*/
	}
}




.header__topcorner,
.header__bottomcorner {
	width: 100%;
	/* БЫЛО РАНЬШЕ ДО ПРОБЫ height: 278px;----------*/
	max-height: 23vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0, auto;
}

.topcorner {
	padding: 2vw 2vw 0 2vw;
}

.bottomcorner {
	padding-bottom: 2vw;
	padding-left: 2vw;
	padding-right: 2vw;
}

.corner {
	width: 21vw;
	max-width: 250px;
	height: 21vw;
	max-height: 250px;
	z-index: 11;
}

.header__1cornerimg,
.header__2cornerimg,
.header__3cornerimg,
.header__4cornerimg {
	max-width: 250px;
	max-height: 250px;
	width: 100%;
	height: 100%;

}

.header__topstrip {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 8vw;
	z-index: 10;
}

.header__topstripleft {
	width: 25vw;
	max-width: 270px;
	/*testing*/
	height: 100%;
	max-height: 125px;
	/*testing*/
	background-color: #3E563E;
	border-radius: 0% 0% 100% 0%;
}

.header__topstripright {
	width: 25vw;
	max-width: 270px;
	/*testing*/
	height: 100%;
	max-height: 125px;
	/*----testing----*/
	background-color: #3E563E;
	border-radius: 0% 0% 0% 100%;
}

.header__container {
	position: relative;
}

.header__bottomstrip {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8vw;
	max-height: 125px;
	/*testing*/
	background-color: #3E563E;
	z-index: 10;
}

.header__smallframebottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* old value 100vw*/
	height: 8vw;
	max-height: 16vh;
	/*testing*/
	text-align: center;
	background-color: #3E563E;
	z-index: 11;
}

.header__smallframetop {
	position: fixed;
	top: 0;
	width: 100%;
	/*old value 100vw*/
	height: 8vw;
	max-height: 16vh;
	/*testing*/
	text-align: center;
	background-color: #3E563E;
	z-index: 11;
}

.header__smallframebottomimg,
.header__smallframetopimg {
	width: 79vw;
	height: 15vw;
	max-height: 15vh;
	/*testing*/
}



.frontportrait {
	width: 278px;
	height: 362px;
	position: relative;
}

.frontportrait__frame {
	width: 278px;
	/*СТАРОЕ ЗНАЧЕНИЕ---100%;---*/
	min-width: 278px;
	height: 362px;
	/*----------СТАРОЕ ЗНАЧЕНИЕ--100%;---------*/
	min-height: 362px;
	margin: 0 auto;
}

.frontportrait__frame_png {
	width: 100%;
	height: 100%;
}

.frontportrait__photo_jpg {
	width: 206px;
	height: 203px;
	border-radius: 50%;
	border: 4px white solid;
	position: absolute;
	top: 79.5px;
	left: 35px;
}

.title {
	font-family: "Andantinoscript";
	font-size: calc(100px + 20 * (100vw / 1200));
	color: white;
	width: 100%;
	margin-top: 7px;
	text-align: center;
}

.hesgorgeous__video {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 24vw;
	height: 35vw;
	/* СТАРОЕ ЗНАЧЕНИЕ - 38vw;*/
	margin: 5vw 0 0 0;

}

.hesgorgeous__video__smallframetop,
.hesgorgeous__video__smallframebottom {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.hesgorgeous__video__smallframetopimg,
.hesgorgeous__video__smallframebottomimg {
	width: 24vw;
	max-width: 24vw;
}

.hesgorgeous__video__clip {
	width: 14vw;
	text-align: center;
	margin: 1vw 0 1vw 0;
	position: static;
	/*testing*/
	z-index: 69;
}

.musthide {
	z-index: 1;
}

.hesgorgeous__video__clip_mp4 {
	height: 23vw;
	/*border-radius: 2vw;*/
	border-radius: 50%;
	padding: 4px;
	border: 2px white solid;
}

.routine__header {
	padding-top: 0;
}

.closingportrait {
	background-color: #3E563E;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-width: 100%;
	padding-top: 4vh;
}

.closingportrait__smallframetop,
.closingportrait__smallframebottom {
	margin: 0 auto;
	width: 24vw;
	text-align: center;

}

.closingportrait__smallframetop__img,
.closingportrait__smallframebottom__img {
	width: 24vw;
	max-width: 24vw;
}

.closingportrait__photo {
	width: 100%;
	/*--------СТАРОЕ ЗНАЧЕНИЕ--22vw;----*/
	height: 16.7vw;
	padding-top: 0.6vw;
	text-align: center;
}

.closingportrait__img {
	width: 22vw;
	max-width: 22vw;
	/*border-radius: 2vw;*/
	border-radius: 50%;
	padding: 4px;
	border: 2px white solid;
}

.finalizingdiv {
	min-height: 17vw;
	height: 17vh;
	width: 100%;
	font-family: 'Andantinoscript';
	color: white;
	text-align: center;
	padding-top: 5vh;
}

.fish {
	width: 100%;
	min-height: 20vh;
	min-width: 100%;
	margin: 0 auto;
	/*padding: 0 20% 0 20%;*/
	text-align: center;
	background-color: #3E563E;
	padding-top: 4vh;
}

.fish__png {
	width: 30vw;
	max-width: 200px;
	min-width: 10vw;
	margin: 0 auto;
}

.miles {
	position: fixed;
	bottom: -100;
	left: 20vw;
	z-index: 62;
	opacity: 0;
	visibility: hidde;
}

a.music {
	color: gold;
}


/*-----------------------------MEDIA ЗАПРОСЫ ----------------------------------------*/


/*----------ИЗМЕНЕНИЕ ПАРАМЕТРОВ СТРАНИЦЫ И ЗАГОЛОВКА ПРИ ЭКРАНЕ ДО 768px-------------*/
@media (max-width: 767px) {
	.wrapper {
		max-width: 767px;
	}

	.header {
		max-width: 767px;
	}

	.header__container {
		max-width: 767px;
	}

	.header__topstrip {
		background-color: #3E563E;
	}

	.header__burgericon {
		display: none;
	}

	.corner {
		display: none;
	}

	.header__topstripleft,
	.header__topstripright {
		display: none;
	}

	.frontportrait {
		margin-top: 15vw;
	}

	.header__bottomstrip,
	.header__topstrip {
		height: 21vw;
		min-height: 21vw;
	}

	.header__smallframebottom,
	.header__smallframetop {
		height: 21vw;
		max-height: 16vh;
		/*testing*/
		min-height: 21vw;
	}

	.header__smallframetop {
		padding-top: 3vw;
	}

	.hesgorgeous__video {
		min-width: 78vw;
		width: 78vw;
		min-height: 100vw;
		/*ВОЗМОЖНО ЭТУ ВЫСОТУ СТОИТ ДОПОЛНИТЕЛЬНО ПОДРЕГУЛИРОВАТЬ*/
		height: 100vw;

	}

	.hesgorgeous__video__smallframetop,
	.hesgorgeous__video__smallframebottom {
		width: 79vw;
		height: 15vw;
	}

	.hesgorgeous__video__smallframetopimg,
	.hesgorgeous__video__smallframebottom {
		width: 78vw;
		min-width: 78vw;
		height: 15vw;
		display: none;
		/*-------СКРЫВАЕМ ПОВТОРЯЮЩИЙСЯ ОРНАМЕНТ ВВЕРХУ И ВНИЗУ ВИДЕО - ОН ДУБЛИРУЕТСЯ УЖЕ ИМЕЮЩИМСЯ -----*/

	}

	.hesgorgeous__video__clip {
		width: 56vw;
		min-width: 56vw;
		height: 88vw;
		min-height: 88vw;
	}

	.hesgorgeous__video__clip_mp4 {
		height: 88vw;
		/*border-radius: 5vw;*/
		border: 2px white solid;
	}

	.closingportrait {
		min-width: 100%;
		width: 100%
			/*old value----78vw;---*/
			/*ВОЗМОЖНО ЭТУ ВЫСОТУ СТОИТ ДОПОЛНИТЕЛЬНО ПОДРЕГУЛИРОВАТЬ*/
			/*height: 100vw;*/
			/*margin-top: -1vw;*/
			min-height: 500px;
	}

	.closingportrait__smallframetop,
	.closingportrait__smallframebottom {
		width: 79vw;
		height: 15vw;
	}

	.closingportrait__photo {
		width: 78vw;
		min-width: 78vw;
		height: 56vw;
		max-height: 194px;
		min-height: 56vw;
	}

	.closingportrait__smallframebottom__img,
	.closingportrait__smallframetop__img {
		/*display: none;*/
		opacity: 0;
	}

	.closingportrait__img {
		width: 100%;
		min-width: 100%;
		/*border-radius: 5vw;*/
		border-radius: 50% 50% 50% 50%;
		padding: 4px;
		border: 2px white solid;
	}

	/*.dropoutmenu__item__small {
font-family: "Andantinoscript";
font-size: 3vw;
color: white;
border-bottom: 1px white solid;
padding: 2vh;
display: block;
}*/

	.openstatus {
		max-height: 60%;
		top: 17%;

	}

}

/*----------КОНЕЦ ИЗМЕНЕНИЕ ПАРАМЕТРОВ СТРАНИЦЫ И ЗАГОЛОВКА ПРИ ЭКРАНЕ ДО 768px-------------*/

.greeting {
	width: 82%;
	color: white;
	font-family: "Andantinoscript";
	font-size: 36px;
	text-align: center;
}

h1 {
	font-family: "Andantinoscript";
	font-size: calc(50px + 30 * (100vw / 1200));
	text-align: center;
	margin-top: 60px;
	Color: white;
}



.textcontainer {
	background-color: #3E563E;
	width: 100%;
	padding-bottom: 3vh;
}

.text {
	color: white;
	font-family: "Andantinoscript";
	font-size: calc(30px + 12 * (100vw / 1200));
	text-align: justify;
	width: 82.5%;
	max-width: 990px;
	margin: 0 auto;
}

/*--------------ИЗМЕНЕНИЕ ПАРАМТЕРОВ НА РАЗРЕШЕНИЯХ БОЛЕЕ 767px ----------*/
@media (min-width: 767px) {

	.header__smallframebottom,
	.header__smallframetop {
		display: none;
	}

	.fish__png {
		max-width: 200px;
	}

	.fish {
		padding-top: 10vh;
	}

}


/* ----------- ОТКРЫВАЕМ ВЫПАДАЮЩЕЕ МЕНЮ НА РАЗРЕШЕНИИ БОЛЕЕ 768 ---------------------*/
.openstatus {
	/*bottom: calc(72vh + 4vw);*/
	opacity: 0.95;
	visibility: visible;
	background-color: #2e402e;
	pointer-events: all;
	transition: all 2.3s ease 0s;
}

.block {
	overflow: hidden;
}


/*----------------КОНЕЦ ИЗСЧЕЗАНИЕ SMALLFRAME НА БОЛЬШИХ РАЗРЕШЕНИЯХ ----------*/

/*----------------РАСЧЕТЫ ШРИФТОВ ДЛЯ ДВУХ ДИАПАЗОНОВ РАЗРЕШЕНИЙ---------------*/
@media (max-width: 767px) {
	.title {
		font-size: calc(100px + (20 + 20 * 0.7) * ((100vw - 360px) / 1200));
	}
}

@media (max-width: 767px) {

	.text,
	.dropoutmenu__item,
	{
	font-size: calc(30px + (12 + 12 * 0.7) * ((100vw - 360px) / 1200));
}
}

@media (max-width: 767px) {

	h1,
	{
	font-size: calc(50px + (30 + 30 * 0.7) * ((100vw - 360px) / 1200));
}
}

/*--------------------КОНЕЦ РАСЧЕТА ШРИФТОВ------------------------------------*/